html, body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    opacity: 0.9;
    top: 69px;
}

h4 {
    margin-top: 0;
}

header {
    position: fixed;
    display: flex;
    z-index: 10;
    height: 69px;

    /*Avoid right border dissapear*/
    right: 0;
    left: 0;

    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

img {
    height: 50px;
    margin: 10px;
}

li {
    display: inline-flex;
    margin-right: 20px; 
    text-decoration: underline;
}


.mission-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url("ressources/images/img-mission-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    align-items: center;
}

.mission-text {
    height: auto;
    width: 1200px;
    align-items: center;
    background-color: black;
}

.tea-container {
    /* border: 1px solid seashell; */
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.teas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teas img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.locations {
    background-position: center;
    background-image: url("ressources/images/img-locations-background.png");
    background-repeat: no-repeat;
    height: 600px;
    /* display: flex;
    flex-wrap: wrap; */
}

.location-container {
    border: 1px solid seashell;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
}

.location {
    border: 1px solid seashell;
    background-color: black;
    text-align: center;
    width: 300px;
}
