* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    justify-content: center;
}


/*header*/
header {
    position: fixed;

    z-index: 10;
    height: 69px;
    width: 100%;
    
    top: 0;
    border-bottom: 1px solid seashell;
    align-items: center;
}

img {
    height: 50px;
    float: left;
    margin: 10px;
    align-items: center;
    display: flex;
}

ul {
    float: right;
}

li {
    display: inline-flex;
    width: 150px;
    text-decoration: underline;
}

/*Mission*/
.mission {
    position: relative;
    top: 69px;
}